@import "variables";

html,
body {
  @extend %default-font;
  margin:0 auto;
  padding:0;
  height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @extend %background-cover-fixed;
  position: relative;
}

a {
  &:hover {
    color: white;
  }
}

.table-wrap {
  padding: 30px;
  background-color: $element-bg;
  margin: 50px auto;
}

.table {
  @include border-radius(0);
  margin-bottom: 0;

  thead {
    tr {
      th {
        text-transform: uppercase;
      }
    }
  }

  tbody {
    td {
      word-break: break-all;
      word-wrap:break-word;
    }
    tr {
      cursor: pointer;

      td {
        vertical-align: initial;
        border-top: none;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  @include border-radius(0);
  @include transition(all 100ms ease-in-out);
}

.btn-serendipity {
  color: white;
  background-color: $btn-text;
  border: {
    width: 2px;
    style: solid;
    color: $btn-border;
  }
  font-weight: 400;

  &:hover {
    color: white;
    background-color: $btn-hover;
  }

  //&:focus, &:active {outline: rgba(white, 0.5);}
}

.btn-link {
  padding: 10px 50px;
  color: $btn-link-text;
  background-color: $btn-link-bg;
  border: {
    width: 2px;
    style: solid;
    color: $btn-link-border;
  }
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.03em;

  &:hover {
    background-color: $btn-link-text;
    color: $btn-link-bg;
    border-color: $btn-link-bg;
    text-decoration: none;
  }
}

.alert {
  @include border-radius(0);
}

.alert-shadow {
  box-shadow: 1px 1px 6px 6px rgba(0,0,0, 0.5);
}

.form-control {
  @include border-radius(0);
}

.form-horizontal {
  max-width: 620px;
  width: 100%;
  padding: 30px 30px 30px 0;
  margin: 30px auto 60px;
  background-color: $element-bg;

  .btn-default {
    color: #FFF;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.content-wrapper {
  min-height:100%;
  position:relative;
  margin-top: 10vh;
}

.view-wrapper {
  padding-bottom: 320px; /* Height of the footer element */
}
