@import "variables";

html,
body {
  @extend %default-font;
  margin:0 auto;
  padding:0;
  height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @extend %background-cover-fixed;
  position: relative;
}

a {
  &:hover {
    color: white;
  }
}

.table {
  @include border-radius(0);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  tbody {
    td {
      word-break: break-all;
      word-wrap:break-word;
    }
    tr {
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  @include border-radius(0);
  @include transition(all 100ms ease-in-out);
}

.btn-serendipity {
  color: white;
  background-color: $btn-text;
  border: {
    width: 2px;
    style: solid;
    color: $btn-border;
  }
  font-weight: 700;

  &:hover {
    color: $btn-text;
    background-color: $btn-bg;
  }

  //&:focus, &:active {outline: rgba(white, 0.5);}
}

.alert {
  @include border-radius(0);

}

.form-control {
  @include border-radius(0);
}


.content-wrapper {
  min-height:100%;
  position:relative;
  margin-top: 10vh;
}

.view-wrapper {
  padding-bottom: 320px; /* Height of the footer element */
}
