@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300);

/* -- Misc variables -- */
$bg-image: url("../images/city-surface-blur.jpg");

/* -- Colors -- */
$black: #070706;
$main-color: #CCCCCC;
$light-gray: #e6e6e6;
$nav-default: #777;
$nav-active: white;
$nav-hover: white;

// btn-serendipity
$btn-text: #555;
$btn-bg: white;
$btn-border: white;

/* -- Media queries -- */
$mq-phone: "only screen and (max-width: 480px)";
$mq-tablet: "only screen and (max-width: 768px)";
$mq-desktop-small: "only screen and (max-width : 992px)";
$mq-desktop-large: "only screen and (max-width : 1200px)";


/* -- Fonts -- */
%default-font {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: white;
}

%emphasis-font {
  font-size: 23px;
  font-weight: 700;
}

%navbar-font {
  font-size: 18px;
  text-transform: uppercase;
}

%footer-font {
  opacity: 0.7;
  font-size: 26px;
}

%serendipity-h1-font {
  font-size: 40px;
  line-height: 50px;
  color: $black;
  font-weight: 300;
}

%steps-font {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: $black;
}

/* -- Misc placeholders -- */
%background-cover-fixed {
  background: {
    image: $bg-image;
    size: cover;
    repeat: no-repeat;
    position: center center;
    attachment: fixed;
  }
}

/* -- Mixins -- */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition( $val : ease 0.5s ) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -ms-transition: $val;
  transition: $val;
}

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin transform($transform-type,$transform-amount) {
  -webkit-transform: $transform-type+unquote('(#{$transform-amount})');
  -moz-transform: $transform-type+unquote('(#{$transform-amount})');
  -ms-transform: $transform-type+unquote('(#{$transform-amount})');
  -o-transform: $transform-type+unquote('(#{$transform-amount})');
  transform: $transform-type+unquote('(#{$transform-amount})');
}
