@import "variables";

#map {
  @include filter(grayscale,100%);
  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
  max-width: 80%;
  height: auto;
  margin:0 auto;
  color: black;
}

.map-outer {
  height: 500px;
}
.map-inner {
  height: 100%;
}

.editor-link-wrap {
  margin: 10px auto 40px;
  text-align: center;

}
