@import "variables";

#map {
  @include filter(grayscale,100%);
  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
  max-width: 80%;
  height: auto;
  margin:0 auto;
  color: black;
}

.map-outer {
  height: 500px;
}

.map-inner {
  height: 100%;
}

.editor-link-wrap {
  margin: 10px auto 40px;
  text-align: center;
}

h3.sound-box-heading {
  padding-bottom: 20px;

  &:after {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    height: 3px;
    width: 30px;
    margin-top: 20px;
  }
}


.sounds-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 266px;
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #555;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #555;
    
  }

  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #F5F5F5;
  }


  li {
    padding: 8px;
    cursor: pointer;
    word-wrap: break-word;
    @include transition(all 100ms ease-in-out);

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.selected {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.sound-details-wrap {
  .sound-title {
    font-size: 22px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .sound-status {
    font-size: 14px;
    display: inline-block;
    margin-top: 12px;
  }

  .sound-desc {
    margin-bottom: 18px;
  }

  .sound-date-created, .sound-date-updated, .sound-loc {
    font-size: 14px;
  }

  .buttons {
    margin-top: 30px;

    .btn {
      margin-right: 16px;
    }
  }
}

.sound-controls-wrap {
  .btn {
    display: block;
    margin: 8px 0 16px;
    width: 110px;
  }
}

