@import "variables";

.editor-wrapper {
  background-color: $element-bg;
  margin: 50px auto;
  padding: 20px;

  .sound-title, .track-title {
    @extend %emphasis-font;
    margin-bottom: 10px;
  }

  .sound-description, .track-description {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .track-type {
    text-transform: capitalize;
    font-style: italic;
    margin-bottom: 10px;
  }

  audio {
    width: 100%;
  }

  .combined-wrap {
    text-align: center;
    width: 50%;
    max-width: 520px;
    margin: 0 auto;
  }

  .audio-combined-controls {
    display: inline-block;
  }

}

.message-area {
  position: absolute;
  bottom: -100px;
  left: calc(50% - 114px);
  margin: 0 auto;
  display: block;
  text-align: center;

  h4 {
    display: inline-block;
  }
}

.serendipity-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 15999;
  background-color: rgba(black, 0.7);
  opacity: 0;
  pointer-events: none;
  @include transition(opacity 200ms ease-in-out);

  &.is-open {
    opacity: 1;
    pointer-events: all;

    .serendipity-modal-box {
      transform: translate(0px, 0px);
    }
  }

  .serendipity-modal-box {
    position: relative;
    max-width: 380px;
    top: calc(50% - 125px);
    left: calc(50% - 190px);
    padding: 30px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 20px 5px rgba(black, 0.5);
    text-align: left;
    transform: translate(0px, -50px);
    @include transition(transform 150ms ease-in-out);

    .loading-image-wrap {
      margin: 0 auto;
      height: 150px;
      width: 150px;
      overflow: hidden;
      background: {
        image: url(../images/loading.gif);
        position: center center;
        repeat: no-repeat;
        size: auto;
      }
    }

    .loading-text {
      display: block;
      text-align: center;
    }
  }
}
