@import "variables";

// Navbar styling here

.header {
  @extend %navbar-font;
  margin-bottom: 60px;

  .navbar-default {
    @include border-radius(0);
    border: none;
    background-color: transparent;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

    .navbar-brand {
      display: none;
      color: $nav-default;
      @include transition(color 100ms ease-in-out);

      &:hover {
        color: $nav-hover;
      }
    }

    .navbar-nav {
      .navbar-user {
        margin-top: 13px;
      }

      & > {

        li {
          a {
            color: $nav-default;
            @include transition(color 100ms ease-in-out);

            &:hover {
              color: $nav-hover;
            }
          }
        }

        li.active {
          a {
            background-color: transparent;
            color: $nav-active;

            &:hover {
              color: $nav-hover;
              background-color: transparent;
            }
          }

          &:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 3px;
            background: white;
          }
        }
      }
    }

  }
}
