@import "variables";

// Navbar styling here

.header {
  @extend %navbar-font;

  .navbar-default {
    @include border-radius(0);
    border: none;
    background-color: transparent;
    margin: 30px auto;

    .navbar-nav {
      & > {

        li {
          a {
            &:hover {
              color: white;
            }
          }
        }

        li.active {
          a {
            background-color: transparent;
            color: white;

            &:hover {
              color: white;
              background-color: transparent;
            }
          }

          &:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 3px;
            background: white;
          }
        }
      }
    }

  }
}
