@import "variables";

.logo-wrapper {
  text-align: center;

  img.logo-image {
    display: inline-block;
    height: 75vh;
    @include filter(drop-shadow, 0px 0px 3px rgba(black, 0.8));
  }
}

@media #{$mq-phone} {
  .logo-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.main-wrapper {
  background-color: #fff;
  text-align: center;
  position: relative;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .definition {
    text-align: center;

    .definition-title {
      @extend %serendipity-h1-font;
      margin-top: 45px;
      margin-bottom: 45px;
    }
  }

  .help-us {
    @extend %background-cover-fixed;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 40px 0;

    .help-us-text {
      @extend %emphasis-font;
      text-shadow: 3px 3px 3px rgba(black, 0.8);
      display: block;
      max-width: 1140px;
      width: 66%;
      margin: 60px auto 60px;
    }

    a {
      margin-right: 8px;
      margin-left: 8px;
      display: inline-block;
    }

    .badge-image {
      width: 120px;
      @include transition(transform 150ms ease-in-out);
      @include transform(scale,1.0);

      &:hover {
        @include transform(scale,1.2);
      }
    }

    @media #{$mq-phone} {
      .help-us-text {
        padding-top: 0;
        width: 90%;
      }
    }
  }

  .steps-wrapper {
    @extend %steps-font;
    position: relative;
    margin-bottom: 60px;

    .steps {
      .step-number {
        font-size: 30px;
      }

      .step-title {
        font-weight: 100;
        font-size: 30px;
      }

      @media #{$mq-phone} {
        .step-number {
          font-size: 26px;
        }

        .step-title {
          font-size: 26px;
        }
      }
    }

    .left-side {
      @include border-radius(0);
      border-right: 1px solid transparent;
      text-align: right;
      width: 31%;
      margin-left: 19%;
      padding-top: 100px;
      height:100%;
    }
    .right-side {
      @include border-radius(0);
      border-left: 1px solid black;
      text-align: left;
      width: 31%;
      padding-top: 250px;
      height:100%;
    }

    @media #{$mq-desktop-large} {
      .left-side {
        width: 31%;
        margin-left: 19%;
      }
      .right-side {
        width: 31%;
        margin-right: 19%;
      }
    }

    @media #{$mq-desktop-small} {
      .left-side {
        width: 50%;
        margin-left: 0;
      }
      .right-side {
        width: 50%;
        margin-right: 0;
      }
    }

    @media #{$mq-tablet} {
      .left-side {
        width: 50%;
        margin-left: 0;
      }
      .right-side {
        width: 50%;
        margin-right: 0;
      }
    }

    @media #{$mq-phone} {
      .left-side {
        width: 50%;
        margin-left: 0;
        padding-left: 0;
        padding-right: 10px;
      }
      .right-side {
        width: 50%;
        margin-right: 0;
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }

  #map {
    @include filter(grayscale,100%);
    -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
    max-width: 60%;
    height: auto;
    margin:0 auto;
    color: black;

    @media #{$mq-tablet} {
      max-width: 80%;
    }

    @media #{$mq-phone} {
      max-width: 80%;
    }
  }

	.about-us {
    @extend %background-cover-fixed;
    width: 100%;
    text-align: center;
    display: inline-block;

    .about-us-text {
			font-size: 40px;
			color: white;
      display: block;
      width: 66%;
      margin: 60px auto;
			padding: 20px;
      text-shadow: 2px 2px 2px rgba(black, 0.8);
    }
  }
}

