@import "variables";

body {
  background: url("../images/header-montagna.png") no-repeat center;
  -webkit-background-size: cover;
  background-size:cover;
}

.main-wrapper {

  .main-hero-wrapper {
    text-align: center;
    .hero-image {
      display: inline-block;
      margin:0 auto;
      //max-width: 700px;
      height: 750px;
    }
  }

  .definition {
    text-align: center;
    .definition-title {
      @extend %serendipity-h1-font;
      margin-top: 45px;
      margin-bottom: 45px;
    }
  }
}

