@import "variables";

.logo-wrapper {
  margin-top: 60px;
  text-align: center;
  img.logo-image {
    max-height: 697px;
  }
}

.main-wrapper {
  background-color: #fff;
  text-align: center;

  a {
    &:hover {
      text-decoration: none;
    }
  }


  .definition {
    text-align: center;
    .definition-title {
      @extend %serendipity-h1-font;
      margin-top: 45px;
      margin-bottom: 45px;
    }
  }

  .help-us {
    @extend %background-cover-fixed;
    width: 100%;
    max-width: 1170px;
    text-align: center;
    display: inline-block;



    .help-us-text {
      @extend %emphasis-font;
      display: block;
      width: 66%;
      margin: 60px auto 60px;
      padding-top: 70px;
    }

    .badge-image {
      width: 100px;
      padding-bottom: 40px;
    }
  }

  .steps-wrapper {
    @extend %steps-font;
    position: relative;
    margin-bottom: 60px;

    .steps-2-wrapper-inner {
      height: 1133px;
      overflow: hidden;
    }

    .steps {

      .step-number {
        font-size: 30px;
      }

      .step-title {
        font-weight: 100;
        font-size: 30px;
      }

      .step-text {

      }

    }
    .left-side {
      @include border-radius(0);
      border-right: 1px solid black;
      text-align: right;
      width: 30%;
      margin-left: 20%;
      padding-bottom: 194px;
      padding-top: 100px;
      height:100%;
    }
    .right-side {
      @include border-radius(0);
      border-left: 1px solid black;
      text-align: left;
      width: 30%;
      padding-top: 250px;
      height:100%;
    }

    @media #{$mq-desktop-large} {
      .left-side {
        width: 30%;
        margin-left: 20%;
      }
      .right-side {
        width: 30%;
        margin-right: 20%;
      }
    }

    @media #{$mq-desktop-small} {
      .left-side {
        width: 50%;
        margin-left: 0;
      }
      .right-side {
        width: 50%;
        margin-right: 0;
      }
    }

    @media #{$mq-tablet} {
      .left-side {
        width: 50%;
        margin-left: 0;
      }
      .right-side {
        width: 50%;
        margin-right: 0;
      }
    }

    @media #{$mq-phone} {
      .left-side {
        width: 50%;
        margin-left: 0;
      }
      .right-side {
        width: 50%;
        margin-right: 0;
      }
    }


  }



  #map {
    @include filter(grayscale,100%);
    -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
    max-width: 1170px;
    height: 600px;
    margin:0 auto;
    color: black;
  }

  @media #{$mq-phone} {
    #map {
      height: 400px;
    }
  }

	.about-us {
    @extend %background-cover-fixed;
    width: 100%;
    max-width: 1170px;
    text-align: center;
    display: inline-block;

    .about-us-text {
			font-size: 40px;
			color: white;
      display: block;
      width: 66%;
      margin: 60px auto;
			padding: 20px;
    }
  }
}

