@import "variables";

.login-wrapper {
  text-align: center;
  .login-form {
    text-align: left;
    display: inline-block;
    max-width: 420px;
    width: 100%;
    padding: 30px;
    margin: 30px auto 60px;
    background-color: $element-bg;
  }
}
