@import "variables";

.register-wrapper {
  //background-color: aliceblue;
  margin: 0 auto;
  //padding: 20px;

  .form-horizontal {
    max-width: 620px;
    width: 100%;
    padding: 40px 80px;
    margin: 30px auto 60px;

    .btn-default {
      color: #FFF;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
