<!-- HELP US -->
<div class="help-us">
  <div class="help-us-text-wrapper">
    <div class="help-us-text">
      Help us create a contemporary-sound-culture for each village/city/town.
      Let everyone discover the poetry of your favourite place, create your own soundtrack
      and subscribe in the app to join and share!
    </div>
  </div>

  <a href="https://itunes.apple.com/fi/genre/ios/id36?mt=8">
    <img src="../images/app-store-badge.svg" alt="App Store" class="badge-image"/>
  </a>

  <a href="https://play.google.com/store">
    <img src="../images/google-play-badge.png" alt="Google Play" class="badge-image"/>
  </a>
</div>
