<div class="google-map" ng-controller="MapCtrl">



  <div id="map">
    <!--<ng-map center="65.013, 25.443" zoom="6"></ng-map>-->

    <div map-lazy-load="https://maps.google.com/maps/api/js"
         map-lazy-load-params="{{googleMapsUrl}}">
      <ng-map>
        <!--<marker ng-repeat="marker in markers" position="{{marker.position}}"></marker>-->
      </ng-map>
    </div>

    <!--<script-->
      <!--src="js/scripts/map.js">-->
    <!--</script>-->
    <!--<script async defer-->
            <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz7PBHLbH9Bh-sAJBOZ6-rQjULBf_1nys&callback=initMap">-->
    <!--</script>-->
  </div>
</div>
