<div class="overlay" ng-controller="PlayerCtrl">
  <div class="audio">
    <div class="close-button"><i class="glyphicon glyphicon-remove"></i></div>
    <div class="audio-title">The title</div>
    <div class="audio-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci
      aspernatur consectetur deleniti,lestiae natus quae quasi reiciendis similique sit unde velit!
    </div>
    <div id="audio-controls-wrapper">
      <audio id="player" controls>
        <source id="player-source-mp3"  src="" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>
