<div class="home-overlay">
  <div class="home-audio">
    <div class="close-button"><span class="glyphicon glyphicon-remove"></span></div>
    <div class="audio-title">The title</div>
    <div class="audio-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci
      aspernatur consectetur deleniti,lestiae natus quae quasi reiciendis similique sit unde velit!
    </div>
    <div id="audio-controls-wrapper">
      <audio id="home-player" controls>
        <source id="audio-source-mp3" src="" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>
