<div class="steps-wrapper container clearfix">
  <div class="steps left-side col-xs-6">
    <h3 class="step-number">1</h3>
    <h4 class="step-title">REACH YOUR SPOT</h4>
    <div class="step-text">Where do you go when angry, to take a stroll and steam off a bit?
      Where do you daydream when in love or simply serene? Choose your place in the city,
      the one you find poetic and worth it .
      Think about how to express the feelings this spot arise inside you and when exactly
      during the day you like it the most!
    </div>
    <h3 class="step-number">3</h3>
    <h4 class="step-title">ENRICH IT WITH YOUR MUSIC</h4>
    <div class="step-text">
      Grab your craziest friend (otherwise find a brand-new one) and start mixing stuff on a music program
      to add soul to your basic-ambient recording and create your tune! Try to convey your sensation in the track,
      personalization is the way </div>

  </div>
  <div class="steps right-side col-xs-6">
    <h3 class="step-number">2</h3>
    <h4 class="step-title">RECORD ITS SOUND </h4>
    <div class="step-text">Take you phone/recorder/zoom and go out to record this ambient sound which will be the basis of your track!
      Explore the surroundings, daytime, nightime, be brave! Record the moment you feel right,
      no matter if crowd is shouting, or the city is quiet. Pick the best and keep it, listen to it and get inspiration
    </div>
    <h3 class="step-number">4</h3>
    <h4 class="step-title">SHARE IT ON THE MAP
    </h4>
    <div class="step-text">Take you phone/recorder/zoom and go out to record this ambient sound which will be the
      basis of your track! Explore the surroundings, daytime, nightime, be brave! Record the moment you feel right,
      no matter if crowd is shouting, or the city is quiet. Pick the best and keep it, listen to it and get inspiration
    </div>
  </div>
</div>
