<!-- STEPS 2 -->
<div class="steps-wrapper container clearfix">
  <div class="steps-2-wrapper-inner clearfix">
    <div class="steps left-side  col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3 class="step-number">ME</h3>
      <h4 class="step-title">AND THE PROJECT</h4>
      <div class="step-text">
        This project started during summer semester 2015, at the Design & art University of
        Bolzano. Developed with Zen metodology thanks to our project leader Andrea Maragno and Prof. Simone
        Simonelli, this started as a wish of mine to reintroduce poetry in everyone’s life. It started as something
        simplier than an application but then it grew towards its right shape
      </div>
      <h3 class="step-number">THE GUYS</h3>
      <h4 class="step-title">WHO JOINED</h4>
      <div class="step-text">
        In the end four amazing informatics peo-
        ple decided to join and take the chance and try to work, with a great effort I must say, under the supervision of
        Davide Taibi. And like that, Florian, Philip, Mercy and Tisho challenged themselves (and myself too) through this
        adventure! There are some though moment, specially when you have a lot to do else than SERENDIPITY, or
        regarding the communication between me, a designer, and a programmer. Thus I think we all learn a lot and
        I am greatly thankful to all
      </div>

    </div>
    <div class="steps right-side col-xs-6">
      <h3 class="step-number">SOFTWARE</h3>
      <h4 class="step-title">FACTORY COURSE</h4>
      <div class="step-text">During the semester I was suggested to submit SERENDIPITY to a wider jury, such as the
        Software Factory course for the master of Informatic-science Faculty hel-ded by Prof. Davide Taibi. This innovative
        approach towards the subject collect students from other faculty, specially informatics, to work in team as if you really
        are a project developer. That simulation of course require a project to be developed better to be chosen, therefore I propose mine
      </div>
      <h3 class="step-number">DEVELOPER</h3>
      <h4 class="step-title">SHARE IT ON THE MAP
      </h4>
      <div class="step-text">Last but not least, through all the graphic developement of this site and the idea of making it
        real in general Prof.Matteo Moretti supervised and revisioned me. By giving hint, guding me trough the un-known world
        of sites and html, and also with his example, like Repubblica popo-lare di Bolzano. One of his last project-from which I
        took inspiration for the style.Further more I can say that I am glad for everyone who takes part in this and believe in
        this unbelievably-superimport-antpartlyuseless-fun idea.
        <br><br>
        Thank you all
        <br><br>
        MARIA TERESA SCARABELLO
      </div>
    </div>
  </div>
</div>
