<div class="dashboard-wrapper container" ng-controller="DashboardCtrl">

  <!-- OVERLAY & AUDIO PLAYER-->
  <div ng-include="'views/home/overlay-audio.html'"></div>

  <!-- EDITOR LINK -->
  <div class="editor-link-wrap">
    <button class="btn btn-link" ng-click="openEditor(sound)">OPEN MIXER</button>
  </div>

  <div class="table-wrap  animate-if" ng-if="sounds.length > 0">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="sound in sounds" class="animate-if">
        <td ng-click="showSoundInfo(sound)">{{ sound.title }}</td>
        <td>{{ sound.description }}</td>
        <td>{{ sound.status }}</td>
        <td><button class="btn btn-serendipity" ng-click="openEditor(sound)">Edit</button></td>
        <td><button type="submit" class="btn btn-danger" data-sound-id=sound.id ng-click="deleteSound(sound)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>


  <!-- MAP -->
  <div ng-include="'views/home/map.html'"></div>

	<!-- User Table -->
	<br>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Username</th>
				<th>E-mail</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>City</th>
				<th>Country</th>
				<th>Joined</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ user.username }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.firstName }}</td>
				<td>{{ user.lastName }}</td>
				<td>{{ user.city }}</td>
				<td>{{ user.country }}</td>
				<td>{{ user.createdAt | date }}</td>
				<td><button class="btn btn-serendipity" ng-click="">Edit</button></td>
			</tr>
		</tbody>
	</table>

</div>
