<!-- EDITOR -->
<div class="editor-overlay" ng-controller="EditCtrl">
  <div class="container">
    <div class="editor-wrapper clearfix">

      <!-- SOUNDS -->
      <div class="col-lg-6 col-xs-12">
        <h3 class="sound-box-heading">YOUR SOUNDS</h3>
        <p>In the dropdown below you'll find the sounds that you have recorded. Start by choosing a sound from your library.</p>
        <div class="form-group sounds">
          <label for="sounds-dropdown">Select sound</label>
          <select class="form-control" id="sounds-dropdown" ng-model="soundSelect" ng-change="updateSoundInfo()">
            <option ng-repeat="sound in sounds" value="{{sound.path}}">{{sound.title}}</option>
          </select>
        </div>
        <div class="sound-info">
          <div class="sound-title">{{currentSound.title}}</div>
          <div class="sound-description">{{currentSound.description}}</div>
          <div class="sound-loc">{{currentSound.lat}} {{currentSound.long}}</div>
        </div>

        <audio id="sound-audio" ng-src="{{soundSelect}}" controls></audio>
      </div>

      <!-- TRACKS -->
      <div class="col-lg-6 col xs-12">
        <h3 class="sound-box-heading">OVERLAY TRACKS</h3>
        <p>Here you'll find a collection of different overlay tracks you can use for making a simple remix of your sound.</p>
        <div class="form-group tracks">
          <label for="tracks-dropdown">Select track</label>
          <select class="form-control" id="tracks-dropdown" ng-model="trackSelect" ng-change="updateTrackInfo()">
            <option ng-repeat="track in tracks" value="{{track.path}}">{{track.title}} [{{track.type}}]</option>
          </select>
        </div>
        <div class="track-title">{{currentTrack.title}}</div>
        <div class="track-type">{{currentTrack.type}}</div>
        <div class="track-description">{{currentTrack.description}}</div>
        <audio id="track-audio" ng-src="{{trackSelect}}" controls></audio>
      </div>


      <!-- COMBINE -->
      <div class="col-lg-12">
        <div class="combined-wrap">
          <h3 class="sound-box-heading">COMBINED CONTROLS</h3>
          <p>With these controls you can simultaneously play, pause and stop both audio sources.
            What you hear is what you get so when you've made you choice, hit save to save the remix into your library.</p>
          <!--<div class="checkbox">-->
          <!--<label><input type="checkbox" value="" ng-model="newFile" ng-disabled="">Create new file</label>-->
          <!--</div>-->
          <div class="audio-combined-controls">
            <button class="btn btn-serendipity" ng-click="playBoth()"><i class="glyphicon glyphicon-play"></i></button>
            <button class="btn btn-serendipity" ng-click="pauseBoth()"><i class="glyphicon glyphicon-pause"></i></button>
            <button class="btn btn-serendipity" ng-click="stopBoth()"><i class="glyphicon glyphicon-stop"></i></button>
            <button class="btn btn-success" ng-click="saveSoundRemix()">Save</button>
            <!--<button class="btn btn-success" ng-click="toggleMessage()">Toggle</button>-->
            <!--<button class="btn btn-default" ng-click="toggleModal()">Modal</button>-->
          </div>
        </div>
        <div class="message-area">
          <h4 class="alert alert-success alert-shadow animate-if" ng-if="remixSuccess"><span class="glyphicon glyphicon-ok"></span> Remix saved successfully</h4>
        </div>
      </div>


      <!-- MODAL -->
      <div class="serendipity-modal-bg">
        <div class="serendipity-modal-box clearfix">
          <div class="loading-image-wrap"></div>
          <h4 class="loading-text">{{modalText}}</h4>
        </div>
      </div>

    </div>
  </div>
</div>
