<!-- SERENDIPITY LOGO -->
<div class="asd">
  <div class="logo-wrapper">
    <img src="../images/serendipity-logo.svg" alt="Logo" class="logo-image img-responsive">
  </div>
</div>

<!-- HOME CONTENT -->
<div class="main-wrapper container-fluid" ng-controller="HomeCtrl">

  <!-- OVERLAY & AUDIO PLAYER-->
  <div ng-include="'views/home/overlay-audio.html'"></div>

  <!-- DEFINITION -->
  <div class="definition">
    <h1 class="definition-title">"THE JOY OF FINDING <br> VALUABLE THINGS BY CHANCE"</h1>
  </div>

  <!-- HELP US -->
  <div ng-include="'views/home/help-us.html'"></div>

  <!-- STEPS-1 -->
  <div ng-include="'views/home/steps-1.html'"></div>

  <!-- EXPLORE CITIES -->
  <div class="definition">
    <h1 class="definition-title">EXPLORE CITIES</h1>
  </div>

  <!-- MAP -->
  <div ng-include="'views/home/map.html'"></div>

  <!-- OPEN EYES -->
  <div class="definition">
    <h1 class="definition-title">"OPEN YOUR EYES AND LISTEN"</h1>
  </div>

  <!-- ABOUT US -->
  <div class="about-us">
    <div class="about-us-text-wrapper">
      <div class="about-us-text">
        ABOUT US
      </div>
    </div>
  </div>

  <!-- STEPS 2 -->
  <div ng-include="'views/home/steps-2.html'"></div>

</div>

