<div class="jumbotron">
  <h1>Serendipity</h1>
  <p class="lead">Experiencing sounds</p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Yeah<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Frontpage</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque delectus ea eligendi magnam modi pariatur sapiente?
    Laborum neque omnis pariatur perspiciatis sapiente veniam voluptatum. Aperiam laborum laudantium quisquam saepe vero!</p>

</div>
