<div class="main-wrapper">

  <!-- HERO AREA -->
  <div class="main-hero-wrapper">
    <img src="../images/serendipity-logo.svg" alt="Logo" class="hero-image">
  </div>
  <div class="definition">
    <h1 class="definition-title">"THE JOY OF FINDING <br> VALUABLE THINGS BY CHANCE"</h1>
  </div>

  <!-- HELP US -->
  <div class="help-us">
    <div class="help-us-text-wrapper">
      <div class="help-us-text">
        Help up create a contemporary-sound-culture for each village/city/town.
        Let everyone discover the poetry of your favourite place, create your own soundtrack
        and subscribe in the app to join and share!
      </div>
    </div>

    <img src="../images/app-store-badge.svg" alt="App Store" class="badge-image"/>
    <img src="../images/google-play-badge.png" alt="Google Play" class="badge-image"/>
  </div>

  <!-- STEPS -->
  <div class="steps-wrapper clearfix">
    <div class="steps left-side col-lg-6">
      <h3 class="step-number">1</h3>
      <h4 class="step-title">REACH YOUR SPOT</h4>
      <div class="step-text">Where do you go when angry, to take a stroll and steam off a bit?
        Where do you daydream when in love or simply serene? Choose your place in the city,
        the one you find poetic and worth it .
        Think about how to express the feelings this spot arise inside you and when exactly
        during the day you like it the most!
      </div>
      <h3 class="step-number">3</h3>
      <h4 class="step-title">ENRICH IT WITH YOUR MUSIC</h4>
      <div class="step-text">
        grab your craziest friend (otherwise find a brand-new one) and start mixing stuff on a music programm
        to add soul to your basic-ambient recording and create your tune! Try to convey your sensation in the track,
        personalization is the way </div>

    </div>
    <div class="steps right-side col-lg-6">
      <h3 class="step-number">2</h3>
      <h4 class="step-title">RECORD ITS SOUND </h4>
      <div class="step-text">take you phone/recorder/zoom and go out to record this ambient sound which will be the basis of your track!
        Explore the surroundings, daytime, nightime, be brave! Record the moment you feel right,
        no matter if crowd is shouting, or the city is quiet. Pick the best and keep it, listen to it and get inspiration
      </div>
      <h3 class="step-number">4</h3>
      <h4 class="step-title">SHARE IT ON THE MAP
      </h4>
      <div class="step-text">take you phone/recorder/zoom and go out to record this ambient sound which will be the
        basis of your track! Explore the surroundings, daytime, nightime, be brave! Record the moment you feel right,
        no matter if crowd is shouting, or the city is quiet. Pick the best and keep it, listen to it and get inspiration
      </div>
    </div>
  </div>
	
	<!-- MAP -->
	<div class="google-map">
		<div id="map"></div>
			<script>
				function initMap() {
					var mapDiv = document.getElementById('map');
					var map = new google.maps.Map(mapDiv, {
						center: {lat: 65.0167, lng: 25.4667},
						zoom: 9
					});
				}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
					async defer></script>
	</div>
	
	<!-- OPEN EYES -->
  <div class="definition">
    <h1 class="definition-title">"OPEN YOUR EYES AND LISTEN"</h1>
  </div>
	
	<!-- ABOUT US -->
	<div class="about-us">
		<div class="about-us-text-wrapper">
			<div class="about-us-text">
				ABOUT US
			</div>
	</div>
	</div>
<!-- STEPS 2 -->
  <div class="steps-wrapper clearfix">
    <div class="steps left-side col-lg-6">
      <h3 class="step-number">ME</h3>
      <h4 class="step-title">AND THE PROJECT</h4>
      <div class="step-text">
			  This project started during summer semester 2015, at the Design & art University of 
				Bolzano. Developed with Zen metodology thanks to our project leader Andrea Maragno and Prof. Simone 
				Simonelli, this started as a wish of mine to reintroduce poetry in everyone’s life. It started as something 
				simplier than an application but then it grew towards its right shape
      </div>
      <h3 class="step-number">THE GUYS</h3>
      <h4 class="step-title">WHO JOINED</h4>
      <div class="step-text">
				In the end four amazing informatics peo-
				ple decided to join and take the chance and try to work, with a great effort I must say, under the supervision of 
				Davide Taibi. And like that, Florian, Philip, Mercy and Tisho challenged themselves (and myself too) through this 
				adventure! There are some though moment, specially when you have a lot to do else than SERENDIPITY, or 
				regarding the communication between me, a designer, and a programmer. Thus I think we all learn a lot and 
				I am greatly thankful to all
			</div>

    </div>
    <div class="steps right-side col-lg-6">
      <h3 class="step-number">SOFTWARE</h3>
      <h4 class="step-title">FACTORY COURSE</h4>
      <div class="step-text">During the semester I was suggested to submit SERENDIPITY to a wider jury, such as the 
				Software Factory course for the master of Informatic-science Faculty hel-ded by Prof. Davide Taibi. This innovative
				approach towards the subject collect students from other faculty, specially informatics, to work in team as if you really
				are a project developer. That simulation of course require a project to be developed better to be chosen, therefore I propose mine
      </div>
      <h3 class="step-number">DEVELOPER</h3>
      <h4 class="step-title">SHARE IT ON THE MAP
      </h4>
      <div class="step-text">Last but not least, through all the graphic developement of this site and the idea of making it 
				real in general Prof.Matteo Moretti supervised and revisioned me. By giving hint, guding me trough the un-known world 
				of sites and html, and also with his example, like Repubblica popo-lare di Bolzano. One of his last project-from which I 
				took inspiration for the style.Further more I can say that I am glad for everyone who takes part in this and believe in 
				this unbelievably-superimport-antpartlyuseless-fun idea. 
			<br><br>
			Thank you all
			<br><br>
			MARIA TERESA SCARABELLO
      </div>
    </div>
  </div>
	
  <!--<div class="jumbotron">-->
    <!--<h1>Serendipity</h1>-->
    <!--<p class="lead">Experiencing sounds</p>-->
  <!--</div>-->

  <!--<div class="user-quote">-->
    <!--<h3>Lorem Ipsum</h3>-->
    <!--<blockquote>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquam aperiam dolore, enim esse eum ex-->
        <!--facere illum impedit inventore, ipsum minima molestiae nobis placeat praesentium sequi soluta tenetur veniam!.</p>-->
      <!--<footer>Jane Doe</footer>-->
    <!--</blockquote>-->
  <!--</div>-->
</div>

