<div class="sounds-wrapper container" ng-controller="SoundsCtrl">
  <table class="table table-hover animate-if" ng-if="sounds.length > 0">
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Path</th>
      <th>Created</th>
      <th>Modified</th>
      <th>User ID</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="sound in sounds">
      <td>{{ sound.id }}</td>
      <td>{{ sound.title }}</td>
      <td>{{ sound.description }}</td>
      <td>{{ sound.status }}</td>
      <td>{{ sound.lat }}</td>
      <td>{{ sound.long }}</td>
      <td>{{ sound.path }}</td>
      <td>{{ sound.createdAt }}</td>
      <td>{{ sound.updatedAt }}</td>
      <td>{{ sound.UserId }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div ng-include="'views/upload.html'"></div>
