<div class="sounds-wrapper container" ng-controller="TracksCtrl">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Type</th>
      <th>Path</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="track in tracks">
      <td>{{ track.id }}</td>
      <td>{{ track.title }}</td>
      <td>{{ track.description }}</td>
      <td>{{ track.type }}</td>
      <td>{{ track.path }}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="upload-wrapper container" ng-controller="UploadCtrl">

  <div class="form-group">
    <form name="myForm">
      <div class="form-horizontal">

        <!-- Title -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="trackTitle">Title:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="trackTitle" placeholder="My sound" ng-model="trackTitle">
          </div>
        </div>

        <!-- Description -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="trackDescription">Description:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="trackDescription" placeholder="Lorem ipsum dolor sit amet..." ng-model="trackDescription">
          </div>
        </div>

        <!-- Type -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="type">Type:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="type" placeholder="e.g. 'ambient'" ng-model="type">
          </div>
        </div>

        <!-- Sound -->
        <div class="form-group">
          <label class="control-label" for="file"></label>
          <div class="col-sm-9 col-sm-offset-3">
            <input type="file" id="file" ngf-select ng-model="trackFile" name="file" accept="audio/*" ngf-max-size="2MB" required ngf-model-invalid="errorFiles">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large
              {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
            <button class="btn btn-warning" ng-click="trackFile = null" ng-show="trackFile">Remove</button>
            <br>
            <button class="btn btn-primary" ng-disabled="!myForm.$valid" ng-click="uploadTrack(trackFile)">Upload</button>
          </div>
        </div>

        <span class="progress" ng-show="trackFile.progress >= 0">
          <div style="width:{{trackFile.progress}}%" ng-bind="trackFile.progress + '%'"></div>
        </span>
        <span ng-show="trackFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </div>

    </form>
  </div>
</div>
