<div class="upload-wrapper container" ng-controller="UploadCtrl">

  <div class="form-group">
    <form name="myForm">
      <div class="form-horizontal">

        <!-- Title -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="title">Title:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="title" placeholder="My sound" ng-model="title">
          </div>
        </div>

        <!-- Description -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="description">Description:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="description" placeholder="Lorem ipsum dolor sit amet..." ng-model="description">
          </div>
        </div>

       <!-- Latitude -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="lat">Latitude:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="lat" placeholder="65.013" ng-model="lat">
          </div>
        </div>

        <!-- Longitude -->
        <div class="form-group">
          <label class="control-label col-sm-3" for="long">Longitude:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="long" placeholder="25.477" ng-model="long">
          </div>
        </div>

        <!-- Sound -->
        <div class="form-group">
          <label class="control-label" for="file"></label>
          <div class="col-sm-9 col-sm-offset-3">
            <input type="file" id="file" ngf-select ng-model="picFile" name="file" accept="image/*,audio/*" ngf-max-size="2MB" required ngf-model-invalid="errorFiles">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large
              {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button class="btn btn-warning" ng-click="picFile = null" ng-show="picFile">Remove</button>
            <br>
            <button class="btn btn-primary" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Submit</button>
          </div>
        </div>

        <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
        </span>
        <span ng-show="picFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </div>

    </form>
  </div>
</div>
